<div class="op-panel">

    <div class="op-header op-navbar">
        <div class="op-navbar-left">
            <h1 class="title-app">App</h1>
            <div>
                <button (click)="visibleSidebar = true" pButton type="button" icon="pi pi-bars" class="p-button-raised p-button-text button-menu"></button>
            </div>
            <h2 class="title-app-options">{{dataAppService.titleSelectOption}}</h2>
        </div>
        
        <div class="op-navbar-right">
            <div style="display: flex; align-items: center; color: white; font-size: 14px;">
                <p style="margin-right: 5px;">{{userName}}</p>
                <i class="far fa-user"></i>
            </div>

            <div>
                <button (click)="logoutApp()" 
                    pButton type="button" 
                    icon="pi pi-sign-out" 
                    class="p-button-raised p-button-text button-menu buton-menu-exit">
                </button>
            </div>           
        </div>
    
    </div>

    <div class="op-body op-body-ppal">

        <m-tabs-route [selectedIndex]="indexTab"> 
            <ng-container *ngFor="let tab of tabs">
                <m-tab-route [tabTitle]="tab.label" [ruta]="tab.ruta" [closable]="tab.closable"></m-tab-route>
             </ng-container>  
        </m-tabs-route>

        <router-outlet></router-outlet>

    </div>

</div>

<p-sidebar [(visible)]="visibleSidebar">
    <h2 class="title-app-sidebar">App</h2>
    <p-tree [value]="menuTree" selectionMode="single" (onNodeSelect)="nodeTreeSelect($event)" [style]="{'padding':'0px'}"></p-tree>
</p-sidebar>

<p-toast position="top-center"></p-toast>
