<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<div class="m-panel">

    <div class="m-panel-header">
        <div style="padding: 7px; font-weight: bold; background: #90caf9;">Editar Persona</div>
    </div>

    <div class="m-panel-body">
    	<form [formGroup]="formPersona" class="form-row m-cont-editar">
            <input type="hidden" espk pInputText formControlName="idPersona"> 
		
		    <span class="op-field op-field-required">
                <label for="nombres">Nombres</label>
                <input id="nombres" type="text" pInputText formControlName="nombres"> 
            </span>
		
		    <span class="op-field op-field-required">
                <label for="primerApellido">Primer Apellido</label>
                <input id="primerApellido" type="text" pInputText formControlName="primerApellido"> 
            </span>
		
		    <span class="op-field ">
                <label for="segundoApellido">Segundo Apellido</label>
                <input id="segundoApellido" type="text" pInputText formControlName="segundoApellido"> 
            </span>
		
		    <span class="op-field op-field-required">
                <label for="numeroIdentificacion">Número Identificación</label>
                <input id="numeroIdentificacion" type="text" pInputText formControlName="numeroIdentificacion"> 
            </span>
			
			<span class="op-field op-field-required">
                <label for="float-input">Tipo de identificación</label>
                <ng-select [items]="mapListCombo.TipoIdentificacion" formControlName="idTipoIdentificacion" class="custom-select" bindLabel="descripcion"  bindValue="idTipoIdentificacion" appendTo="body" placeholder="Seleccione una opci&oacute;n..."></ng-select>
            </span>
		
		    <span class="op-field ">
                <label for="email">Email</label>
                <input id="email" type="text" pInputText formControlName="email"> 
            </span>
		</form>
    </div>

    
    <div class="m-panel-footer">
        <button *ngIf='formPersona.value.idPersona == null; else elseBlock' (click)="onClickGuardar()" pButton type="button" label="Guardar" icon="pi pi-save" class="p-button-raised p-button-text p-button-success"></button>
        
        <ng-template #elseBlock>
            <button (click)="onClickGuardar()" pButton type="button" label="Modificar" icon="pi pi-save" class="p-button-raised p-button-text p-button-success"></button>
        </ng-template>

        <button (click)="onClickEliminar($event)" pButton type="button" label="Eliminar" icon="pi pi-trash" class="p-button-raised p-button-text p-button-danger"></button>
        <button (click)="onClickNuevo()" pButton type="button" label="Nuevo" icon="pi pi-plus" class="p-button-raised p-button-text p-button-primary"></button>
        <button (click)="onClickCancelar()" pButton type="button" label="Cancelar" icon="pi pi-angle-left" class="p-button-raised p-button-text p-button-secondary"></button>
    </div>
</div>