<div class="content-404">

    <form>
        <div class="op-panel op-404">
            <div class="op-header" style="display: flex; justify-content: center;">
            </div>

            <div class="op-body op-content-404" style=" overflow: hidden;">
               <img src="/assets/img/404.svg">
            </div>

            <div class="op-footer" style="display: flex; justify-content: center; padding: 20px; border-top: none;">
                <!-- <button pButton (click)="" type="button" class="p-button-info"> Login </button> -->
                <a routerLink="/mainApp">Volver!</a>
            </div>

        </div>
    </form>

</div>