<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<div class="m-panel">

    <div class="m-panel-header">
        <div style="padding: 7px; font-weight: bold; background: #90caf9;">Editar Perfil</div>
    </div>

    <div class="m-panel-body">
    	<form [formGroup]="formPerfil" class="form-row m-cont-editar">
            <input type="hidden" pInputText formControlName="idPerfil"> 
		
		    <span class="op-field op-field-required">
                <label for="nombrePerfil">Nombre Perfil</label>
                <input id="nombrePerfil" type="text" pInputText formControlName="nombrePerfil"> 
            </span>
		</form>
    </div>
    
    <div class="m-panel-footer">
        <button *ngIf='formPerfil.value.idPerfil == null; else elseBlock' (click)="onClickGuardar()" pButton type="button" label="Guardar" icon="pi pi-save" class="p-button-raised p-button-text p-button-success"></button>
        
        <ng-template #elseBlock>
            <button (click)="onClickGuardar()" pButton type="button" label="Modificar" icon="pi pi-save" class="p-button-raised p-button-text p-button-success"></button>
        </ng-template>

        <button (click)="onClickEliminar($event)" pButton type="button" label="Eliminar" icon="pi pi-trash" class="p-button-raised p-button-text p-button-danger"></button>
        <button (click)="onClickNuevo()" pButton type="button" label="Nuevo" icon="pi pi-plus" class="p-button-raised p-button-text p-button-primary"></button>
        <button (click)="onClickCancelar()" pButton type="button" label="Cancelar" icon="pi pi-angle-left" class="p-button-raised p-button-text p-button-secondary"></button>
    </div>
</div>